<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TopVid Login/Signup</title>
    <script type="text/javascript"
            src="//video-maker.topvid.com/static/assets/js/video-maker/google_tag_manager.js"></script>
    <link rel="shortcut icon" type="image/x-icon"
          href="//video-maker.topvid.com/static/assets/img/icons/topvid-favicon.png"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//connect.facebook.net/en_US/sdk.js"></script>
    <script src="//countdown.topvid.com/static/assets/js/form-validation.js"></script>
    <link rel="stylesheet" href="//video-maker.topvid.com/static/assets/css/video-maker/forms-light.css">
</head>
<body>
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PNLW7PN" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <div class="container forms">
        <!-- Logo -->
        <div class="row">
            <div id="logo-wrapper" url="https://topvid.io/"
                 class="col-lg-4 col-lg-push-4 col-md-6 col-md-push-3 col-sm-8 col-sm-push-2 col-xs-12 logo">
                <img src="//video-maker.topvid.com/static/assets/img/icons/topvid-full-logo.png" alt="logo" class="img-responsive">
            </div>
        </div>
        <!-- Form Base -->
        <div class="row">
            <div class="form-base col-lg-4 col-lg-push-4 col-md-6 col-md-push-3 col-sm-8 col-sm-push-2 col-xs-12">
                <header>
                    {% block header %}{% endblock header %}
                </header>
                <!-- Form -->
                <section>
                    {% block form %}{% endblock form %}
                </section>
                <!-- Forgotten Password -->
                <section class="forgotten-password">
                    <form action="" method="post" id="forgotten-password-form">
                        <div class="input-group col-sm-7 col-xs-12 login-forgotten-password">
                            <input id="login-forgotten-password" type="text" placeholder="Email" name="email" id="email">
                            <span aria-hidden="true" id="status-forgotten-password" class="status-icon"></span>
                        </div>
                        <!-- Submit -->
                        <button class="btn primary col-sm-4 col-sm-push-1 col-xs-12 custom-color-back" type="submit">
                            Send
                        </button>
                    </form>
                    <!-- Forgotten Password Text -->
                    <p>We'll send you e-mail with password reset.</p>
                    <div class="clearfix"></div>
                </section>
            </div>
        </div>
        <!-- Sign Up / Login Switch -->
        <div class="row">
            <div class="account-switch col-lg-4 col-lg-push-4 col-md-6 col-md-push-3 col-sm-8 col-sm-push-2 col-xs-12 text-center">
                {% block switch %}{% endblock switch %}
            </div>
        </div>
    </div>
</body>
</html>
