{% extends 'base.html' %}

{% block header %}
    <h1>Login</h1>
{% endblock header %}

{% block form %}
    <form method="post" id="login-form">
        {% csrf_token %}
        <!-- Socials - delete this section if you don't want social connects -->
        <!--<div class="btn-toolbar" role="toolbar" aria-label="Social connects">-->
            <!--<button type="button" class="btn social with-shopify pull-left" onclick="loginWithShopify();return false;">-->
                <!--<img class="social-icon icon-social-facebook"-->
                     <!--src="//video-maker.topvid.com/static/assets/img/icons/shopify-icon.png">-->
                <!--with Shopify-->
            <!--</button>-->

            <!--<button type="button" class="btn social with-facebook pull-left" onclick="loginWithFacebook();return false;">-->
                <!--<img class="social-icon icon-social-facebook"-->
                     <!--src="//video-maker.topvid.com/static/assets/img/icons/facebook-white.png">-->
                <!--with Facebook-->
            <!--</button>-->
        <!--</div>-->

        <!--<div class="strike">-->
            <!--<span>Or</span>-->
        <!--</div>-->

        <div class="clearfix"></div>
        <!-- /.Socials -->
        <div class="input-group login-username">
            <div class="input-group-addon">Email</div>
            <input type="text" placeholder="Email" name="login-username" id="login-username">
            <span aria-hidden="true" id="status-username" class="status-icon"></span>
        </div>

        <div class="input-group login-password">
            <div class="input-group-addon">Password</div>
            <input type="password" placeholder="Password" name="login-password" id="login-password">
            <span aria-hidden="true" id="status-password" class="status-icon"></span>
        </div>

        <div class="row section-action">
            <!-- Forgotten Password Trigger -->
            <div class="col-xs-8">
                {% if error %}
                    <a class="forgotten-password-trigger custom-color-red">{{ error }}</a>
                {% endif %}
                <a class="forgotten-password-trigger custom-color-red" id="reset-password-trigger">Forgotten password?</a>
            </div>
            <!-- Submit -->
            <div class="col-xs-4">
                <button class="btn primary pull-right custom-color-black" type="submit">Login</button>
            </div>
        </div>
    </form>
{% endblock form %}

{% block switch %}
    <p>Don't have an account? <a href="{% url 'signup' %}" class="custom-color">Sign up</a></p>
{% endblock switch %}