{% extends 'base.html' %}

{% block header %}
    <h1>Password reset</h1>
{% endblock header %}

{% block form %}
    <form method="post" id="reset-password-form" action="">
        {% if valid %}
            {% csrf_token %}
            <div class="input-group signup-password">
                <div class="input-group-addon">Password</div>
                <input type="password" placeholder="Password" name="reset-password" id="reset-password">
                <span aria-hidden="true" id="status-password" class="status-icon"></span>
            </div>

            <div class="input-group signup-repassword">
                <div class="input-group-addon">Repassword</div>
                <input type="password" placeholder="Retype Password" name="reset-repassword" id="reset-repassword">
                <span aria-hidden="true" id="status-repassword" class="status-icon"></span>
            </div>

            <div class="input-group">
                <input type="hidden" name="token" id="token" value="{{ token }}">
            </div>

            <div class="clearfix"></div>

            <div class="row section-action">
                <div class="col-xs-4 pull-right">
                    <button class="btn primary pull-right custom-color-black" type="submit">Reset</button>
                </div>
            </div>
        {% else %}
            <div class="input-group">Link invalid or expired.</div>
        {%  endif %}
    </form>
{% endblock form %}