{% extends 'base.html' %}

{% block header %}
    <h1>Sign up</h1>
{% endblock header %}

{% block form %}
    <form method="post" id="signup-form">
        {% csrf_token %}
        <!-- Socials - delete this section if you don't want social connects -->
        <!--<div class="btn-toolbar" role="toolbar" aria-label="Social connects">-->
            <!--<button type="button" class="btn social with-shopify pull-left" onclick="loginWithShopify();return false;">-->
                <!--<img class="social-icon icon-social-facebook" src="/static/assets/img/icons/shopify-icon.png">-->
                <!--with Shopify-->
            <!--</button>-->

            <!--<button type="button" class="btn social with-facebook pull-left" onclick="loginWithFacebook();return false;">-->
                <!--<img class="social-icon icon-social-facebook" src="/static/assets/img/icons/facebook-white.png">-->
                <!--with Facebook-->
            <!--</button>-->
        <!--</div>-->

        <!--<div class="strike">-->
            <!--<span>Or</span>-->
        <!--</div>-->

        <div class="clearfix"></div>
        <!-- /.Socials -->
        <div class="input-group signup-name">
            <div class="input-group-addon">Name</div>
            <input type="text" placeholder="Name" name="signup-name" id="signup-name">
            <span aria-hidden="true" id="status-name" class="status-icon"></span>
        </div>

        <div class="input-group signup-email">
            <div class="input-group-addon">Email</div>
            <input type="text" placeholder="Email" name="signup-email" id="signup-email">
            <span aria-hidden="true" id="status-email" class="status-icon"></span>
        </div>

        <div class="input-group signup-password">
            <div class="input-group-addon">Password</div>
            <input type="password" placeholder="Password" name="signup-password" id="signup-password">
            <span aria-hidden="true" id="status-password" class="status-icon"></span>
        </div>

        <div class="input-group signup-repassword">
            <div class="input-group-addon">Repassword</div>
            <input type="password" placeholder="Retype Password" name="signup-repassword" id="signup-repassword">
            <span aria-hidden="true" id="status-repassword" class="status-icon"></span>
        </div>
        <!-- Checkbox area -->
        <div class="input-group">
            <input class="checkbox-custom" id="signup-agree" type="checkbox">
            <label for="signup-agree">
                Agree with <a href="https://topvid.io/terms-and-conditions.html" class="custom-color">terms & conditions</a>
            </label>
            <span aria-hidden="true" id="status-agree" class="hidden status-icon">You must agree to the terms</span>
        </div>

        <div class="clearfix"></div>

        <div class="row section-action">
            <div class="col-xs-8">
                {% if error %}
                    <p class="forgotten-password-trigger custom-color-red" style="font-size:1.2rem;">{{ error }}</p>
                {% endif %}
            </div>
            <!-- Submit -->
            <div class="col-xs-4 pull-right">
                <button class="btn primary pull-right custom-color-black" type="submit">Sign up</button>
            </div>
        </div>
    </form>
{% endblock form %}

{% block switch %}
    <p>Already member? <a href="{% url 'login' %}" class="custom-color">Login</a></p>
{% endblock switch %}