<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        .campaign{
            margin-bottom:10px;
            width:100%;
        }

        .campaign > *{
            width:20%;
            display:inline-block;
            border:1px solid black;
            text-align: center;
        }

    </style>
</head>
<body>

<div class='wrapper'}>
    {% for campaign in campaigns %}

    <div class='campaign'>
        <span>User Name:{{ campaign.username }} </span> <a  href='admin/campaign/{{campaign.campaign_id}}'>Campaign ID: {{campaign.campaign_id }} </a> <span>Status: {{campaign.status}}</span>

    </div>

    {% endfor %}


</div>

</body>
</html>