<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

     <style>
        .campaign{
            margin-bottom:10px;
            width:100%;
        }

        .campaign > *{
            width:20%;
            display:inline-block;
            border:1px solid black;
            text-align: center;
        }

    </style>
</head>
<body>
<div class='wrapper'}>

    {% for ad in ads %}

    <div class='campaign'>
        <a href='https://video-maker.topvid.com/phantom_player/{{ ad.video_maker_id }}'}> Status {{ ad.status }} </a> <span>Hour: {{ ad.hour }}</span> <span>Type {{ ad.ad_type }}</span>

    </div>

    {% endfor %}


</div>


</body>
</html>