#CampaignCreating {
    overflow-x: hidden;
    margin-left: 225px;
}
#CampaignCreating .loading-wrap .loading {
    position: absolute;
    width: 60px;
    font-size: 57px;
    line-height: 20px;
    vertical-align: middle;
}
#CampaignCreating .loading-wrap {
    font-size: 15px;
    color: #327AF0;
}
#CampaignCreating .after-camp {
    max-width: 945px;
}
#CampaignCreating .btn-camp-ready {
    width: 220px;
    height: 40px;
    color: white;
    background: #327AF0;
}
#CampaignCreating .btn-camp-not-ready {
    width: 220px;
    height: 40px;
    color: white;
    background: #DEDEDE;
    cursor: default;
}
#CampaignCreating .loading-wrap .text {
    margin-left: 70px;
    max-width: 450px;
    margin-bottom: 20px;
}