#onBoardMenu {
    border-bottom: 1px solid #dfe4ed;
    background-color: white;
    height: 80px;
    padding-top: 15px;
    display: flex;
    margin-left: 220px;
}
#onBoardMenu .btn-next {
    width: 120px;
}
#onBoardMenu .btn-back {
    color: #ffffff;
    width: 120px;
    border-color: #2C2C2D;
    background-color: #2C2C2D;
}
#onBoardMenu .btn-next .next-arrow {
    margin-right: 0;
    margin-left: 18px;
}
#onBoardMenu .btn-back .next-arrow {
    transform: rotate(180deg);
    right: auto;
    margin-right: 18px;
    margin-left: 0;
}
#onBoardMenu .next-arrow {
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    display: inline-block;
    content: '';
    width: 0;
    height: 0;
    border-width: 5px 0 5px 5px;
    border-color: transparent transparent transparent #fff;
    border-style: solid;
}
#onBoardMenu .rcSteps {
    margin: 0 auto;
    width: 50%;
}
@media only screen and (max-width: 1000px) {
    #onBoardMenu .rcSteps {
        display: none !important;
    }
    #onBoardMenu .btn-toolbar {
        margin: 0 auto;
    }
}
#onBoardMenu .rcSteps .rc-steps-item {
    cursor: pointer;
}
#onBoardMenu .rc-steps-item-tail:after {
    content: '';
    display: block;
    width: 100%;
    top: 36px;
    height: 3px;
    background-color: #2f73ff;
}
#onBoardMenu .rc-steps-item-process .rc-steps-item-icon {
    border-color: #2f73ff;
    background-color: white;
}
#onBoardMenu .rc-steps-item-process .rc-steps-item-icon > .rc-steps-icon {
    color: #2f73ff;
}
#onBoardMenu .rc-steps-item-wait .rc-steps-item-icon {
    border-color: #dfe4ed;
    background-color: #dfe4ed;
}
#onBoardMenu .rc-steps-item-wait .rc-steps-item-icon > .rc-steps-icon {
    color: #ffffff;
}
#onBoardMenu .rc-steps-item-process .rc-steps-item-tail:after,
#onBoardMenu .rc-steps-item-wait .rc-steps-item-tail:after {
   background-color: #dfe4ed;
}
#onBoardMenu .rc-steps-label-vertical .rc-steps-item-tail {
    margin-left: 60px;
    padding: 0;
}