.bannerPreview {
    /*background-image: url("../../../images/banner-back.png");*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*width: 100%;*/
    /*height: 484px;*/
}
.bannerEdit .modal-dialog {
    width: 78% !important
}
.bannerEdit .modal-content {
    padding-left: 20px;
    padding-right: 20px;
}
.bannerLabel {
    background-color: #fff;
    border-color: #d9d9d9 #ccc #b3b3b3;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: #333;
    border-spacing: 0;
    border-collapse: separate;
    overflow: hidden;
    position: relative;
    width: 250px;
    height: 40px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 15px;
}
#bannerModal .Plus {
    width: 30px;
    height: 30px;
    display: inline-block;
    position: relative;
    left: 15px;
    font-size: 21px;
    padding-left: 7px;
    top: 9px;
    color: #32d1d1;
    border: 2px solid #E2E5EA;
    border-radius: 5px;
    cursor: pointer;
    background: none;
    margin-right: 40px;
}
#bannerModal #patterns-schema .Plus {
    position: inherit;
    margin-right: 0 !important;
}
#bannerModal #patterns-schema {
    margin: 20px 0 20px 0;
}
.colorBarWrapper {
    padding: 2px;
    width: auto;
    height: 43px;
    border-radius: 2px;
    cursor: pointer;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2px solid #000000;
}
.colorBarWrapper .colorBox {
    height: 35px;
    width: 35px;
    display: table-cell;
    cursor: pointer;
    border: 2px solid #e6e8eb;
    transition: 0.2s ease-in-out;
}
.plusWrapper {
    border: 2px solid black;
}
#bannerModal .Plus:hover {
    background-color: #32d1d1;
    color: #fff;
    border: 2px solid #E2E5EA;
}
#bannerModal .sketchPicker {
    z-index: 6;
    position: absolute;
}
.colorSchemaPicker {
    position: relative !important;
    top: 25px;
    left: 75px;
}
#bannerModal .sketchPicker .blurWrapper {
    z-index: 2;
    position: absolute;
}
#bannerModal .sketchPicker .blurWrapper .blurDiv {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.btn-save-banner {
    width: 125px;
    /*height: 45px;*/
    /*font-size: 15px;*/
    background-color: #000000;
    border-color: #000000;
    color: #ffffff;
}
.btn-save-banner:hover,
#bannerModal .btn-default[disabled]:hover {
    color: #ffffff;
    background-color: #1B1B1B;
    border-color: #1B1B1B;
}
/* Radio button*/
.radio {
  margin: 0.5rem;
}
.radio input[type="radio"] {
  position: absolute;
  opacity: 0;
}
.radio input[type="radio"] + .radio-label:before {
    content: '';
    background: #ffffff;
    border-radius: 100%;
    border: 2px solid #b4b4b4;
    display: inline-block;
    width: 1em;
    height: 1em;
    position: relative;
    margin-right: 0.4em;
    cursor: pointer;
    transition: all 250ms ease;
    top: 0.15em;
}
.radio input[type="radio"]:checked + .radio-label {
    color: #0073FA;
}
.radio input[type="radio"]:checked + .radio-label:before {
    background-color: #0073FA;
    box-shadow: inset 0 0 0 2px #ffffff;
    border-color: #0073FA;
}
.radio input[type="radio"]:focus + .radio-label:before {
    outline: none;
    border-color: #0073FA;
}
.radio input[type="radio"]:disabled + .radio-label:before {
    box-shadow: inset 0 0 0 4px #f4f4f4;
    border-color: #b4b4b4;
    background: #b4b4b4;
}
.radio input[type="radio"] + .radio-label:empty:before {
    margin-right: 0;
}