#MyCampaigns {
    font-size: 18px;
    margin-left: 260px;
    margin-right: 7%;
}
#MyCampaigns .no-camp {
    text-align: center;
    width: 70%;
    position: absolute;
    top: 40%;
    color: #FF4C5E;
    font-size: 18px;
    border: none !important;
}
#MyCampaigns .campaign-running {
    color: green;
}
#MyCampaigns .campaign-running .sk-double-bounce {
    margin: 0 auto;
}
#MyCampaigns .table {
    margin-top: 5%;
}
#MyCampaigns table td,
#MyCampaigns table th {
    border-left: 0;
    width: 100px;
    text-align: center;
}
#MyCampaigns tbody > tr > td {
    border-right: 1px solid #ddd;
}
#MyCampaigns > div > table > tbody > tr > td:nth-child(5) {
    border-right: 0;
    width: 183px;
}
#MyCampaigns tbody tr {
    height: 65px;
}
#MyCampaigns .view-on-facebook-btn {
    width: 60%;
    min-width: 145px;
    color: #3A85FE !important;
    background-color: #FFFFFF;
    border-color: #3A85FE;
    margin-top: 5px;
    font-size: 17px;
}
#MyCampaigns .view-on-facebook-btn:hover {
    background-color: #000000;
}
#MyCampaigns .camp-btn {
    width: 120px;
    height: 40px;
    padding: 2px;
    color: #fff;
    font-size: 17px;
}
#MyCampaigns .btn-preview {
    width: 137px !important;
    position: inherit !important;
}
#MyCampaigns .start-btn {
    background-color: #48F6D5;
    border-color: #48F6D5;
}
#MyCampaigns .delete-btn {
    background-color: #FB6170;
    border-color: #FB6170;
}
#MyCampaigns .pause-btn {
    background-color: #FDBA3E;
    border-color: #FDBA3E;
}
/* Banner pop up style */
#MyCampaigns .banner-btn {
    width: 230px;
    height: 40px;
    color: #6D4EE9;
    border-color: #6D4EE9;
    position: absolute;
    right: 50px;
    top: 100px;
}
#MyCampaigns .banner-small-btn {
    color: #6D4EE9;
    border-color: #6D4EE9;
}
#MyCampaigns .banner-btn:hover,
#MyCampaigns .banner-small-btn:hover {
    color: #FFFFFF;
    background-color: #6D4EE9;
    border-color: #6D4EE9;
}
#bannerModal .modal-dialog {
    width: 1000px;
    font-size: 17px;
}
#bannerModal .tag {
    color: #994480
}
#bannerModal .attr {
    color: #A8B13D
}
#bannerModal .bnr-img {
    width: 100%;
    margin-top: 0;
}
#bannerModal .s {
    color: #C2AD9D
}
#bannerModal .attr-value {
    color: #2D8CBE
}
#bannerModal .code-wrapper {
    background-color: #F6F2F1;
    overflow-x: auto;
}
#bannerModal .banner-example {
    background-color: #F6F7F9;
    height: 45px;
    line-height: 45px;
    padding-left: 10px;
    padding-right: 10px;
}
#bannerModal .banner-example-link {
    color: #5989FE
}