.Hideable .show-hide-scene {
    width: 75px;
    top: 0;
    left: 31%;
    position: absolute;
    z-index: 10;
    right: 0;
    overflow: hidden;
}
div[id^='Hideable'] .hidden-msg {
    position: absolute;
    background-color: #D1D1D2;
    opacity: 0.7;
    z-index: 5;
    cursor: default;
    width: 602px;
    height: 234px;
}
.fa_with_bg::after{
    position: absolute;
    content: '';
    background: #ffffff;
    z-index: -1;
    top: 15px;
    left: 4px;
    width: 58px;
    height: 36px;
    border-radius: 50%;
}
/* Hide the tooltip content by default */
.Hideable[data-tooltip]:before,
.Hideable[data-tooltip]:after {
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    pointer-events: none;
    z-index: 10;

}
/* Position tooltip above the element */
.Hideable[data-tooltip]:before {
    width: 275px;
    height: 90px;
    font-size: 38px;
    position: absolute;
    bottom: 70%;
    left: 70%;
    margin-bottom: 5px;
    margin-left: -80px;
    padding: 7px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    border-radius: 80px;
    background-color: #FEFEFE;
    color: #4B7EFD;
    content: attr(data-tooltip);
    text-align: center;
    line-height: 2;
    z-index: 10;
}
/* Triangle hack to make tooltip look like a speech bubble */
.Hideable[data-tooltip]:after {
    border-bottom: 20px solid #FEFEFE;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    position: absolute;
    bottom: 101%;
    left: 89%;
    width: 0;
    content: " ";
    font-size: 0;
    line-height: 0;
}
/* Show tooltip content on hover */
.Hideable[data-tooltip]:hover:before,
.Hideable[data-tooltip]:hover:after {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    z-index: 10;
}