#MusicPicker {
    width: 1080px;
    margin: 0 auto;
    height: 75px;
}
#MusicPicker .music-title::before {
    color: black;
    content: 'Current song is: '
}
#MusicPicker .music-title {
    font-size: calc(215%);
    line-height: 70px;
    color: #3673fe;
    margin-right: 35px;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}
#MusicPicker .btn-change-music {
    margin-top: 10px;
    font-size: calc(135%);
    float: right;
}
#MusicContentModal #customMusicUploaderLabel {
    cursor:pointer;
    height:100%;
    width:100%;
}
#MusicContentModal .muteMusic {
    position: absolute;
    z-index: 2;
    top: 10px;
    right: 33px;
}
#MusicContentModal .music-uploader {
    height: 170px !important;
}
#MusicContentModal .modal-body {
    height: 80vh;
}
#MusicContentModal .upload-error {
    display: block;
    text-align: center;
    color: #FF0000;
}
#MusicContentModal .upload-sign {
    margin-top: 10px;
    width: 100%;
    color:#a1a1a1;
    height: 43px;
    line-height: 42px;
    font-size: 33px;
    text-align: center;
}
#MusicContentModal .upload-warning {
    display: block;
    color: #353535;
    overflow:hidden;
    font-weight: 200;
    margin-top: 6px;
    width: 80%;
    margin-left: 10%;
    text-align: center;
    height: 42px;
}
#MusicContentModal .upload-title{
    width: 100%;
    height: 28px;
    color: #353535;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    display: block;
}
#MusicContentModal #music-tab > div {
    overflow-y: scroll;
    height: 73vh;
}
#MusicContentModal .modal-dialog {
    width: 58%;
}
#MusicContentModal .music-option {
    vertical-align: top;
    border-radius: 3px;
    border: 1px solid #bababa;
    height: 133px;
    width: 31%;
    display: inline-block;
    margin: 1%;
    text-align: center;
}
#MusicContentModal audio {
    top: 15px;
    position: relative;
    width: 100%;
}
#MusicContentModal .music-title {
    color: #282828;
    font-size: 21px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 700;
}
#MusicContentModal .glyphicon-ok {
    display: none;
    position: relative;
    margin-right: 5%;
    margin-top: 8px;
    height: 30px;
    width: 30px;
    background: white;
    line-height: 30px;
    color: #2e73ff;
    border-radius: 15px;
    top: 0;
    text-align: center;
    float: right;
}
#MusicContentModal .musicPlayed .play-btn::after {
    content: '\25A0';
    line-height: 0;
    font-size: 20px;
    letter-spacing: .17em;
}
#MusicContentModal .musicPaused .play-btn::after {
    content: '\25B8';
    line-height: 21px;
    font-size: 32px;
    letter-spacing: -0.05em;
}

#MusicContentModal .music-option .play-btn {
    background: black;
    color: white;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 28px;
    border: none;
    margin-top: 30px;
}
#MusicContentModal .choose-btn {
    border-radius: 6px;
    font-weight: bold;
    font-size: 17px;
    height: 32px;
    width: 40%;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    border: 1px solid #282828;
    background-color: #ffffff;
}
#MusicContentModal .music-option-selected {
    background:#2e73ff;
}
#MusicContentModal .music-option-selected audio {
    top: 24px;
}
#MusicContentModal .music-option-selected .music-title {
    color: white;
}
#MusicContentModal .music-option-selected .music-title {
    display: block !important;
}
#MusicContentModal .music-option-selected .play-btn {
    margin-left: 50px;
    background: white !important;
    color: #2e73ff !important;
}
#MusicContentModal .musicPaused .choose-btn,
#MusicContentModal .musicPaused .music-title,
#MusicContentModal .music-option-selected .glyphicon-ok {
    display: block;
}
#MusicContentModal .musicPlayed .music-title,
#MusicContentModal .musicPaused .choose-btn,
#MusicContentModal .music-option-selected .choose-btn {
    display: none;
}