#PreviewModal .modal-dialog {
    width: 585px;
}
#PreviewModal .modal-body {
    height: 600px;
}
#PreviewModal .sub-title {
    position: relative;
    top: 5px;
}

#PreviewModal #previewVideo{
    position:absolute;
    z-index:2;
}

#PreviewModal .loader{
    height:65px;
    width:100%;
    padding-right:12%;
    padding-left:12%;
    position:absolute;
    top:230px;
    z-index:1;

}

#PreviewModal .loader > div{
    width:20%;
    height:100%;
}