#VoiceOverMenu{
    vertical-align: top;
    margin-top:5px;
    height:60px;
    width:95px;
    text-align:center;
    color:#5b5b5b;
    line-height:60px;
    float:right;
    margin-left:5px;
    font-size:calc(250%);
    display:inline-block;
    cursor:pointer;
    transition: .3s all;
    position:relative;
}

#VoiceOverMenu .badge{
    background:#2d73ff;
    position:absolute;
    right:15%;
    top:0;
    width:45%;
    transform: rotate(25deg);
}

#VoiceOverMenu:hover{
    color:#2d73ff;
}

#VoiceOverInput{
    width:80%;
    resize:none;
    height:140px;
    border: 1px solid #d7d7d7;
    border-radius:4px;
    padding:15px;
    outline:none;
    display:inline-block;

}

#VoiceOverModal .template-description{
    color: #9e9e9e;
}

#VoiceOverModal .input-wrapper{
    margin-bottom:30px;
}

#VoiceOverModal .buttons-wrapper{
    width:80%;
}

#VoiceOverModal .modal-dialog{
    width:45vw;
}

#VoiceOverModal .modal-content{
    padding:15px;
    padding-bottom:70px;
    border-radius:0;
}

#VoiceOverModal .fa-microphone{
    margin-right:7px;
    font-size:24px;
}

#VoiceOverModal #PlayButton{
 position:relative;
    display: inline-block;
    font-size:39px;
    margin-left:3px;
    cursor:pointer;
}
#VoiceOverModal .delete-button{
    cursor:pointer;
    display:inline-block;
    float:right;
    width:145px;
    vertical-align:top;
    outline:none;
}


#VoiceOverModal #VoiceOverSubmit{
    display:inline-block;
    background:#2d73ff;
    padding:0;
    height:36px;
    font-size:14px;
    font-family: 'Open Sans';
    border:none;
    font-weight:500;
    outline:none;
    border-radius:4px;
    color:white;
    vertical-align: top;
    width:20%;

}



#VoiceOverModal .Select{
    display:inline-block;
    float:right;
    margin-left:4%;
    width:30%;
}
#VoiceOverModal .modal-header{
    padding: 3px 0 5px 0;
}

#VoiceOverModal .modal-body{
    padding:0;
    padding-top:20px;

}

#VoiceOverModal .annoation-description{
    font-size:16px;
    max-width:80%;
    width:calc(100% - 150px);
    display:inline-block;
    margin-bottom:21px;
}