#stock-container {
    position: absolute;
    transform: matrix(1, 0, 0, 1, 930, 0);
    box-shadow:inset 12px -12px 20px -11px rgba(0,0,0,0.15);
    height: 800px;
    width: 150px;
}
#stock-container > .stock-num {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-family: Montserrat;
    position: absolute;
    text-align: center;
    font-size: 34px;
}
#stock-container > .stock-num:nth-child(1) {
    transform: matrix(1, 0, 0, 1, 0, 20);
}
#stock-container > .stock-num:nth-child(2) {
    transform: matrix(1, 0, 0, 1, 0, 747);
}
#stock-range {
    transform: matrix(1, 0, 0, 1, 46, 62);
    width: 50px;
    height: 656px;
    padding: 6px;
    background: #f5f5f5;
    position: absolute;
}
.range-block {
    margin-bottom: 5px;
    height: 1.855%;
    overflow: hidden;
    width: 100%;
}
/*.label {*/
    /*position: absolute;*/
    /*font-family: Montserrat;*/
/*}*/
.left-label {
    width: 300px;
    text-align: center;
}
#old-price-cross {
    position: absolute;
    transform: matrix(1, 0, 0, 1, 20, 915);
    pointer-events: none;
    z-index: 4;
}
#old-price {
    transform: matrix(1, 0, 0, 1, 20, 915);
    height: 55px;
    line-height: 55px;
    font-size: 42px;
}
#new-price {
    transform: matrix(1, 0, 0, 1, 20, 975);
    height: 60px;
    line-height: 60px;
    font-size: 58px;
}
#callout {
    transform: matrix(1, 0, 0, 1, 390, 915);
    width: 540px;
    height: 55px;
    line-height: 55px;
    font-size: 48px;
}
#cupon-code {
    transform: matrix(1, 0, 0, 1, 390, 975);
    width: 540px;
    height: 60px;
    box-sizing:border-box;
    line-height: 55px;
    border: 4px dashed #949494;
    text-align: center;
    font-size: 40px;
}
#bubble {
    position: absolute;
    height: 100px;
    border: 2px solid black;
    border-radius:5px;
    line-height: 50px;
    padding-left: 5px;
    padding-right: 5px;
    width: 190px;
    text-align: center;
    background: white;
    z-index: 3;
    transform: matrix(1, 0, 0, 1, 750, 50.61);
}
#bubble > textarea {
    resize: none;
    right: 5px;
    position: relative;
    overflow-y: auto;
}
#bubble:before {
    content: "";
    display: block;
    width: 0;
    position: absolute;
    right: -27px;
    top: 33px;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 19px solid transparent;
    border-left: 28px solid black;
}
#bubble:after {
    content: "";
    display: block;
    width: 0;
    position: absolute;
    right: -20px;
    top: 34px;
    height: 0;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-left: 25px solid white;
}