.Template16 {
    cursor: pointer;
}
.Template16 .mainText {
    position: absolute;
    overflow: hidden;
    z-index: 0;
    height: 386px;
    width: 1040px;
    box-shadow: rgb(0, 0, 0) 6px 6px 20px 0;
    background: white;
    transform: matrix(1, 0, 0, 1, 20, 300);
}
.Template16 svg {
    position: absolute;
    z-index: 0;
}