.Template17 {
    cursor: pointer;
}
.Template17 .mainText {
    position: absolute;
    overflow: hidden;
    z-index: 0;
    height: 386px;
    width: 1040px;
    box-shadow: rgb(0, 0, 0) 6px 6px 20px 0px;
    background: white;
    transform: matrix(1, 0, 0, 1, 20, 300);
}
.Template17 .clockTime {
    cursor: pointer;
    position: absolute;
    height: 170px;
    width: 1000px;
    z-index: 2;
    -webkit-transform: matrix(1, 0, 0, 1, 40, 852.5);
    -ms-transform: matrix(1, 0, 0, 1, 40, 852.5);
    transform: matrix(1, 0, 0, 1, 40, 852.5);
}
.Template17 .clockTime .Time {
    text-align: center;
    position: absolute;
    box-shadow: 7px 10px 2px;
    height: 159px;
    line-height: 158.9px;
    width: 128px;
    background: white;
    transform: matrix(1, 0, 0, 1, 0, 0);
}
.Template17 .clockTime .twoPoints {
    position: absolute;
    line-height: 158.9px;
    height: 159px;
    width: 56px;
    transform: matrix(1, 0, 0, 1, 285.714, 0);
    text-align: center;
    background-color: transparent !important;
}

.Template17 .clockTime .Time:nth-child(2) {
    transform: matrix(1, 0, 0, 1, 142.857, 0);
}
.Template17 .clockTime .Time:nth-child(4) {
    transform: matrix(1, 0, 0, 1, 357.143, 0);
}
.Template17 .clockTime .Time:nth-child(5) {
    transform: matrix(1, 0, 0, 1, 500, 0);
}
.Template17 .clockTime .twoPoints:nth-child(6) {
    transform: matrix(1, 0, 0, 1, 642.857, 0)
}
.Template17 .clockTime .Time:nth-child(7) {
    transform: matrix(1, 0, 0, 1, 714.286, 0);
}
.Template17 .clockTime .Time:nth-child(8) {
    transform: matrix(1, 0, 0, 1, 857.143, 0);
}