.Template18 {
    cursor: pointer;
}
.Template18 .mainText {
    position: absolute;
    overflow: hidden;
    z-index: 0;
    height: 386px;
    width: 1040px;
    box-shadow: rgb(0, 0, 0) 6px 6px 20px 0;
    background: white;
    transform: matrix(1, 0, 0, 1, 20, 300);
}
.Template18 input {
    z-index: 2;
}
.Template18 .main_img_block {
    position: absolute;
    overflow: hidden;
    z-index: 3;
    height: 594px;
    width: 1080px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}
.Template18 .clockDiv {
    background-color: rgb(133, 107, 249);
    position: absolute;
    overflow: hidden;
    z-index: 1;
    height: 368px;
    width: 1080px;
    -webkit-transform: matrix(1, 0, 0, 1, 0, 712);
    -ms-transform: matrix(1, 0, 0, 1, 0, 712);
    transform: matrix(1, 0, 0, 1, 0, 712);
}
.Template18 #label0 .show-hide-scene {
    top: 172px;
    left: 105px;
}
.Template18 #label1 .show-hide-scene {
    top: 525px;
    left: 25px;
}
.Template18 #label2 .show-hide-scene {
    top: 226px;
    left: 770px;
}
.Template18 #label0:before {
    top: 235px;
    left: 88px;
}
.Template18 #label0:after {
    top: 223px;
    left: 120px;
}
.Template18 #label1:before {
    top: 590px;
    left: 70px;
}
.Template18 #label1:after {
    top: 580px;
    left: 40px;
}
.Template18 #label2:before {
    top: 295px;
    left: 770px;
}
.Template18 #label2:after {
    top: 275px;
    left: 770px;
}
.Template18 #Hideablelabel2 .hidden-msg {
    height: 194px !important;
}