.Template21 {
    cursor: pointer;
}
.Template21 input {
    z-index: 2;
}
.Template21 .clockDiv {
    position: absolute;
    overflow: hidden;
    z-index: 1;
    height: 389px;
    width: 1080px;
    -webkit-transform: matrix(1, 0, 0, 1, 0, 691);
    -ms-transform: matrix(1, 0, 0, 1, 0, 691);
    transform: matrix(1, 0, 0, 1, 0, 691);
}
.Template21 .middle-block {
    position: absolute;
    z-index: 2;
    border-radius: 25px;
    height: 410px;
    width: 784px;
    transform: matrix(1, 0, 0, 1, 43.2, 270);
}
.Template21 .clockDiv {
    position: absolute;
    overflow: hidden;
    z-index: 1;
    height: 540px;
    width: 1080px;
    transform: matrix(1, 0, 0, 1, 0, 540);
}
.Template21 #label1 .show-hide-scene {
    top: 645px;
    left: 585px;
}
.Template21 #label1:before {
    bottom: 25%;
    left: 53%;
}
.Template21 #label1:after {
    bottom: 33%;
    left: 56%;
}
.Template21 #image0 .show-hide-scene {
    top: 9%;
    left: 66%;
}
.Template21 #image0:before {
    top: 15%;
    left: 65%;
    border: 1px solid lightgray;
}
.Template21 #image0:after {
    top: 14%;
    left: 67%;
}
.Template21 .outlineDiv .selected-div {
    outline: 5px dashed black !important;
}