#Publish {
    margin-left: 222px;
    overflow-x: hidden;
    padding-left: 35px;
    padding-top: 30px;
    margin-top: 20px;
}
#Publish .pub-select {
    height: 40px;
    max-width: 365px;
}
#Publish .seperator {
    display: inline-block;
    margin-bottom: 0;
    max-width: 420px;
}
#Publish .error-text {
    color: lightcoral;
}
#Publish .sep-after-budget {
    margin-top: 0;
    margin-bottom: 10px;
}
#Publish .title-desc {
    color: #acb7bf;
}
#Publish .budget-form {
    height: 40px;
    max-width: 170px;
}
#Publish .preview-wrapper {
    width: 325px;
    height: 636px;
    border: solid;
}
#Publish .save-btn {
    width: 120px;
    height: 40px;
    background-color: #01d6b9;
    border-color: #01d6b9;
    color: #ffffff;
}
#Publish .btn-login {
    border-color: #2f73ff;
    background-color: #2f73ff;
    color: #ffffff;
    width: 250px;
    height: 48px;
}
#Publish .btn-login .fa {
    margin-right: 10px;
    font-size: 20px !important;
    vertical-align: middle;
}
#Publish .link-fb-separator {
    width: 655px;
    margin-top: 38px;
    margin-bottom: 29px;
    float: left;
}
#Publish .link-desc {
    line-height: 25px;
    margin-bottom: 20px;
    font-family: "Lato", sans;
    color: #514d6a;
}
#Publish .previewWrapper {
    width: 450px;
    border: 1px solid black;
}
#Publish .previewTextArea {
    width: 100%;
    padding: 10px;
    border: none;
    resize: none !important;
}
#Publish .previewSpanWrapper {
    padding: 10px;
    height: 85px;
}
#Publish .previewSpanWrapper span {
    float: left;
    clear: left;
}
#publishPreview {
    width: 448px;
    height: 450px;
    border: none;
}
#Publish .callToAction-btn {
    font-family: Helvetica, Arial, Lucida Grande, sans-serif;
    font-size: 12px;
    float: right;
    line-height: 22px;
    background-color: #f6f7f9;
    color: #4b4f56;
    transition: 200ms cubic-bezier(.08,.52,.52,1) background-color, 200ms cubic-bezier(.08,.52,.52,1) box-shadow, 200ms cubic-bezier(.08,.52,.52,1) transform;
    border: 1px solid #ced0d4;
    border-radius: 2px;
    box-sizing: content-box;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    justify-content: center;
    top: -50px;
    left: -10px;
    position: relative;
    text-align: center;
    text-shadow: none;
    vertical-align: middle;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
}
#Publish .previewSpanWrapper span:first-child {
    font-size: 17px;
    font-weight: bold;
}
#Publish .previewSpanWrapper span:nth-child(2) {
    font-size: 14px;
}
#Publish .previewSpanWrapper span:nth-child(3) {
    font-size: 13px;
    color: lightgray;
}
.frequency-form {
    height: 40px;
    max-width: 57px;
}
.thumbnailUpload .thumbnailPreview {
    width: 125px;
    height: 125px;
    float: left;
    margin-right: 40px;
}
.thumbnailUpload #thumbnailPreview {
    border: none;
}
.uploadLabel {
    background-color: black;
    border-color: black;
    color: white;
}