/* Tabs images*/
#Template #typeTabs-tab-0 {
    background: url('../../../images/icons/clock.png') no-repeat 20% 40%;
}
#Template #typeTabs-tab-1 {
    background: url('../../../images/icons/plane.png') no-repeat 20% 40%;
}
#Template #typeTabs-tab-2 {
    background: url('../../../images/icons/suitcase.png') no-repeat 20% 40%;
}
#Template #typeTabs-tab-3 {
    background: url('../../../images/icons/alarm-clock.png') no-repeat 18% 40%;
}
/* on hover and active */
#Template #typeTabs-tab-0:hover,
#Template #typeTabs-tab-0:focus,
#Template .active #typeTabs-tab-0 {
    background: url('../../../images/icons/clock-blue.png') no-repeat 20% 40%;
}
#Template #typeTabs-tab-1:hover,
#Template #typeTabs-tab-1:focus,
#Template .active #typeTabs-tab-1 {
    background: url('../../../images/icons/plane-blue.png') no-repeat 20% 40%;
}
#Template #typeTabs-tab-2:hover,
#Template #typeTabs-tab-2:focus,
#Template .active #typeTabs-tab-2 {
    background: url('../../../images/icons/suitcase-blue.png') no-repeat 20% 40%;
}
#Template #typeTabs-tab-3:hover,
#Template #typeTabs-tab-3:focus,
#Template .active #typeTabs-tab-3 {
    background: url('../../../images/icons/alarm-clock-blue.png') no-repeat 18% 40%;
}
/* End Tabs images*/
#Template #typeTabs .tabTitle {
    width: 130px;
    position: relative;
    left: 60px;
}
#Template #typeTabs .nav-tabs>li {
    width: 245px;
    height: 70px;
    text-align: center;
    margin-right: 15px;
    margin-bottom: 30px;
}
#Template #typeTabs .nav-tabs > li > a {
    width: 245px;
    height: 70px;
    border: 1px solid #CFCFCF;
    line-height: 1;
    font-size: 21px;
    overflow-wrap: break-word;
    color: #979797;
}
#Template #typeTabs .nav-tabs > li > a:hover,
#Template #typeTabs .nav-tabs .active > a {
    border: 1px solid #3785FA;
    color: #3785FA;
    cursor: pointer;
    background-color: #FBFCFF;
}
#Template #typeTabs .nav-tabs .active:after {
    position: relative;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 10px 0 10px;
    border-color: #3785FA transparent transparent transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
}
#Template #typeTabs .nav-tabs {
    border-bottom: none;
}
#Template #typeTabs .tab-pane {
    font-size: 17px;
    line-height: 30px;
    width: calc(100% - 100px);
    border: 1px solid #CFCFCF;
    padding: 10px 20px 10px 30px;
}
#Template #typeTabs .tab-pane .exampleUse {
    color: #7D7D7D;
}
/* The Modal (background) */
#Template .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
#Template .gif-loader {
    font-size: 5px;
    margin: 0 auto;
    position: relative;
    left: 310px;
    top: 20px;
}
#Template .template-price {
    margin-top: 1%;
    height: 14%;
    font-size: large;
    line-height: 30px;
    text-align: center;
}
/* Modal Content */
#Template .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
     #Template .modal-content{
        width:100%
    }
}
#Template .play-image{
    background: url(../../../images/icons/play-btn-icon.png);
    height: 90px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 50%;
    width: 100%;
    top: 30%;
    position: relative;
}
#Template .template-button {
    vertical-align: top;
    display: inline;
    transition: .3s all;
    padding: 0;
    border-width: 0;
    width: 100%;
    height: 90%;
}
#Template .template-title {
    font-size: large;
    margin-top: 15px;
}
#Template .template-title > a {
    color: #0000FF;
}
#Template .mainLabel {
    font-size: xx-large;
    width: 100%;
    margin-top: 35px;
}
#Template #chose-template-title {
    margin-top: 35px;
}
#Template .template-title:hover span:first-child {
    color: #0000FF;
    text-decoration: underline;
    cursor: pointer;
}
#Template .template-wrapper {
    vertical-align: top;
    border: 1px solid #E2E2E2;
    padding: 10px;
    width: 42vh;
    max-width: 99%;
    height: 47vh;
    display: inline-block;
    margin-right: 17px;
    margin-left: 17px;
    margin-top: 2vh;
}
#Template {
    margin-left: 220px;
    overflow-x: hidden;
}
#Template .template-content {
    padding: 0 20px 20px 30px;
}
@media(max-width: 768px) {
    #Template .modal-content{
        width:100%
    }
}
#mobile-user-dialog {
    text-align: center;
    padding-top:0;
}
#mobile-user-dialog .img-wrapper {
    padding-top:0;
    text-align: center;
    display:inline-block;
    position:relative;
}
#mobile-user-dialog .img-wrapper .got-it {
    position: absolute;
    bottom: 162px;
    right: 112px;
    width: 150px;
    height: 45px;
    background: #3174FF;
    color: #FFF;
}
.template-wrapper:hover {
    border: 1px solid #000000 !important;
}

@keyframes opacityUp {
    0%{opacity:0}
    100%{opacity:1}
}
.hover-template-button {
    animation:opacityUp .3s;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: none;
}
.template-wrapper:hover .hover-template-button {
    display: block;
}