#Builder {
    margin-left: 222px;
}
#Builder .framesWrapper {
    margin-right: 285px;
    padding-top: 10px;
}
#Builder .next-btn {
    position: absolute;
    right: 20px;
    width: 120px;
    height: 40px;
    top: 35%;
}
#Builder .text-editing,
#Publish .text-editing {
    overflow: hidden;
    background: transparent;
    border: hidden;
}
#Builder div[id^='scene'],
#Publish div[id^='scene'] {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#Builder .react-draggable,
#Builder .cursor {
    cursor: move;
}
/*################## OF OVERRIDES###############################*/
/*override main css file*/
#Builder #video-container {
    height: 0;
}
.inline {
    display: inline-block;
}
#Builder .ButtonWhite .btn, .ButtonWhite .btn:focus {
    border-color: #282828;
    color: #282828;
    border-radius: 7px;
    background-color: #ffffff;
    width: 130px;
    height: 35px;
    padding-top: 3px;
    -webkit-transition: 0.4s;
}
#Builder .ButtonWhite .btn:hover {
    background-color: #282828;
    color: #ffffff;
}

#Builder .ButtonBlack .btn, .ButtonBlack .btn:focus {
    color: #ffffff;
    border-radius: 7px;
    background-color: #282828;
    width: 135px;
    height: 40px;
    padding-top: 3px;
    -webkit-transition: 0.4s;
}

#Builder .ButtonBlack .btn:hover {
    border-color: #282828;
    background-color: #ffffff;
    color: #282828;
}

/*################# preview section ###################################*/
#Builder #previewArea {
    margin-top: 10px;
}
#Builder #previewCoverId {
    box-shadow: -2px 0 1px 1px rgba(136, 136, 136, 0.08);
    height: 525px;
}

#Builder #previewVideoId {
    box-shadow: 2px 0 1px 1px rgba(136, 136, 136, 0.08);
    height: 525px;
}
#Builder .reset-template {
    position: absolute;
    font-size: 15px;
    cursor: pointer;
    width: 150px;
    height: 40px;
    border-radius: 6px;
    border: 1px solid black;
    right: 298px;
    color: #9B9B9B;
}
#Builder .reset-template .fa {
    color: #9B9B9B !important;
    font-size: 14px !important;
}
#Builder .selected-div {
    border: 5px dashed black;
    overflow:hidden;
}
#Builder .overflow-absolute {
    overflow: hidden;
    position: absolute;
}
#Builder .nav-section-wrapper {
    float: right;
    right: 0;
    position: absolute;
    z-index: 11;
    background: white;
    top: 0;
    bottom: 0;
    width: 285px;
    overflow-y: auto;
    -webkit-box-shadow: rgba(136, 136, 136, 0.18) -5px 0 4px 0;
    box-shadow: rgba(136, 136, 136, 0.18) -5px 0 4px 0;
}
#Builder .play-preview {
    cursor: pointer;
    width: 125px;
    max-height: 125px;
    position: absolute;
    margin-left: -160px;
    margin-top: 933px;
    text-align: center;
    font-size: 20px;
}
#Builder .play-preview > img {
    width: 125px;
    max-height: 125px;
}
#Builder .filmPic {
    height: 90px;
    width: 90px;
    margin-right: 1px;
    background-color: green;
    border-radius: 6px;
    display: inline;
    cursor: pointer;
}
#Builder .pull-right-inside {
    position: absolute;
    right: 0;
}
#Builder .playPreviewFa {
    font-size: 18px !important;
    position: relative;
    right: 5px;
}
#Builder input[type=number]::-webkit-inner-spin-button,
#Builder input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}
#Builder input[name="inputSec"] {
    width: 80px;
    height: 25px;
    border-radius: 8px;
    border: 2px solid #acb7bf;
    font-size: 12px;
    padding-right: 11px;
    padding-left: 14px;
}
#Builder input:focus[name="inputSec"] {
    border: 2px solid #acb7bf;
    outline: none;
}
/*################# END preview section ###################################*/

/*########### navigation section ##################*/

#Builder .activeNavigation {
    background-color: #ffffff;
}

#Builder .navigationContent {
    height: 72px;
    cursor: pointer;
}

#Builder .navigationIcon {
    padding: 25px 20px 0 25px;
}
#Builder .showSubNav {
    display: inline-block;
}
/* Right side navigation style*/
#Builder #navigationSectionId {
    z-index: 1;
    width: 100%;
}
#Builder #navigationSectionId .side-bar-content {
    padding: 15px 15px 0 25px;
}
#Builder #navigationSectionId .image-upload {
    text-align: center;
}
#Builder #navigationSectionId #uploadImageImg,
#Builder #navigationSectionId .side-bar-content .previewContent {
    max-height: 244px;
    max-width: 244px;
    border-radius: 3px;
    border: 1px solid #e0e4ed;
    background-color: #fcfcfc;
}
#Builder #navigationSectionId .side-bar-content .fonts-select {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    -webkit-appearance: menuList;
}
#Builder #navigationSectionId .side-bar-content .font-size-select {
    width: 35%;
    height: 40px;
    margin-top: 20px;
    -webkit-appearance: menuList;
}
#Builder #navigationSectionId .side-bar-title {
    padding: 25px 30px;
    background: #F6FAFF;
    font-size: 1.4em;
    border-bottom: 1px solid #eee;
    height: 80px;
    color: black;
}

#Builder #navigationSectionId .side-bar-title span {
    padding-left: 10px;
}

#Builder #navigationSectionId .side-bar-title #icon-text {
    padding-top: 5px;
}

#Builder #navigationSectionId .side-bar-content .radioButton input[type="radio"] {
    display: none;
    cursor: pointer;
}

#Builder #navigationSectionId .side-bar-content input[type="radio"]:checked + label {
    border: 1px solid #3573FE;
}
/* end Right side navigation style*/
#Builder #custom_image_uploader,
#Builder #customImageUploader {
    display: none;
    cursor: pointer;
}
#Builder .subMenuTitle {
    width: 86%;
    height: 15px;
    color: #282828;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-left: -1%;
}
#BG .bgColorBar,
#Builder .rangeInputs {
    margin-left: 22px;
    margin-right: 22px;
}
#Builder .sketchPicker {
    z-index: 6;
    position: absolute;
}
#Builder .sketchPicker .blurWrapper {
    z-index: 2;
    position: absolute;
}
#Builder .sketchPicker .blurWrapper .blurDiv {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#Builder #image_scaler {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
}
#Builder #image_scaler::-webkit-slider-thumb {
    -webkit-appearance: none;
}
#Builder #image_scaler:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}
#Builder #image_scaler::-ms-track {
    width: 100%;
    cursor: pointer;

    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
}

/* Special styling for WebKit/Blink */
#Builder #image_scaler::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 24px;
    width: 24px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -9px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.1); /* Add cool effects to your sliders! */
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
}

/* All the same stuff for Firefox */
#Builder #image_scaler::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}

/* All the same stuff for IE */
#Builder #image_scaler::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}

#Builder #image_scaler::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: #dfe4ed;
}

#Builder .imageOnEdit {
    max-width: 244px;
}

#Builder .textAlignImage {
    cursor: pointer;
}

#Builder .imageEditSelector {
    height: 23px;
    color: #282828;
    border: none;
    font-weight: 400;
    line-height: 24px;
    width: 53px;
    background: url(/static/assets/img/shopify-video-maker/selector-arrow.png) no-repeat right;
    -webkit-appearance: none;
    background-position-x: 35px;
    background-position-y: 10px;
}

#Builder .text-line {
    margin-top: 15px;
    margin-bottom: 25px;
    width: 100%;
    height: 1px;
    background-color: #dfe4ed;
}

#Builder .btn-repl-wrapper {
    text-align: center;
    padding-top: 20px;
    margin: 0 auto;
    display: block;
}
#Builder .btn-repl-wrapper label {
    cursor: pointer;
}
#Builder .btn-repl-wrapper .btn-repl-img {
    width: 165px;
    height: 40px;
    color: #3674FE !important;
    border-color: #3674FE;
    background-color: #ffffff;
}
#Builder .btn-repl-wrapper .btn-repl-img:hover,
#Builder .btn-repl-wrapper .btn-repl-img:active,
#Builder .btn-repl-wrapper .btn-repl-img:focus {
    border-color: black;
    background-color: black;
    color: white;
}
#Builder .btn-edit-img {
    width: 165px;
    height: 40px;
    color: black;
    border-color: black;
}
#Builder .btn-edit-img i {
    margin-right: 10px;
}
#Builder .fit-img {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    cursor: pointer;
}
#Builder .font-line {
    margin-top: 30px;
    margin-bottom: 15px;
}
#Builder .lineImage {
    margin-top: 7px;
    width: 85%;
    height: 20px;
    cursor: pointer;
}
#Builder .markoBadge {
    height: 100px;
    width: 100px;
    cursor: pointer;
    display: inline;
    margin-bottom: 5%;
    margin-left: 2%;
}
#Builder .textWrapper {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    margin-top: 15px;
}
#patterns-schema {
    padding: 2px;
    height: 43px;
    margin-bottom: 20px;
    margin-right: 15px;
    width: auto;
}
#patterns-schema .Plus {
    left: 0;
    top: 0;
}
#Builder .color-bar-bg {
    padding: 2px;
    width: auto;
    height: 43px;
    margin-bottom: 20px;
    margin-right: 9px;
    border-radius: 2px;
    cursor: pointer;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: solid transparent 2px;
}
#Builder .color-bar-bg:hover {
    border-color: black;
}
#Builder .theme-selected {
    border: 2px solid black !important;
}
#Builder .color-bar-bg .colorBox:hover {
    transform: none;
}
#Builder .colorBar {
    margin-top: 25px;
}
#Builder .colorBox {
    height: 35px;
    width: 35px;
    display: table-cell;
    cursor: pointer;
    border: 2px solid #e6e8eb;
    transition: 0.2s ease-in-out;
}

#Builder .colorBox:hover {
    transform: scale(1.2);
}
#Builder .colorPickerSection {
    display: inline-block;
}
#Builder .singleColorPicker {
    margin-left: 13px;
    display: block;
}
#Builder .singleColorPicker .Plus {
    left: 0;
    top: 0;
}
#Builder .singleColorPicker .minicolors-panel {
    left: -123px !important;
    display: block;
    top: 35px !important;
}
#Builder .activeColor {
    transform: scale(1.2);
}
#Builder .Plus {
    width: 35px;
    height: 35px;
    display: inline-block;
    position: relative;
    left: 183px;
    top: -35px;
    font-size: 21px;
    padding-left: 9px;
    color: #32d1d1;
    border: 2px solid #32d1d1;
    border-radius: 5px;
    cursor: pointer;
    background: none;
}
#Builder .Plus:hover {
    background-color: #32d1d1;
    color: #ffffff;
    border: 2px solid #32d1d1;
}

#Builder .activePlus {
    background-color: #32d1d1;
    color: #ffffff;
    border: 2px solid #32d1d1;
}

#Builder #backGroundBarId {
    display: table;
    margin-top: 15px;
}

#Builder .backGroundChoice {
    cursor: pointer;
    margin-right: 20px;
    background-color: #00a8ff;
    display: inline-block;
    position: relative;
    margin-left: 5px;
    margin-bottom: 5px;
}

#Builder .backGroundChoice:after {
    opacity: 0;
}

#Builder .backGroundChoice:hover:after {
    content: '';
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background: #7edeea;
    opacity: 0.7;
}
#Builder .activeImageChoice:after {
    content: '';
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background: #7edeea;
    opacity: 0.7;
}

#Builder .backGroundChoiceImg {
    height: 93px;
    width: 93px;
}
#Builder #uploadImageBtnId {
    display: table;
}
#Builder .filmPicChoice {
    cursor: pointer;
    margin-right: 14px;
    position: relative;
}
#Builder .hiddenFrame {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: #F0F1F5;
    opacity: 0.65;
}
#Builder .filmPicChoice:after {
    opacity: 0;
}

#Builder .filmPicChoice:hover:after {
    content: '';
    top: 0;
    left: -1px;
    z-index: 5;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background-color: #7edeea;
    opacity: 0.7;
}
#Builder .activeFilmPicChoice:after {
    content: '';
    top: 0;
    left: -1px;
    z-index: 5;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    opacity: 0.7;
    background-color: #799B9D;
}
#Builder .outline-30 {
    outline: 30px solid #000000;
    outline-offset: 30px;
}
#Builder .hiddenPicChoice:after {
    content: '';
    top: 0;
    left: -1px;
    z-index: 5;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background: #7edeea;
    opacity: 0.7;
}
#Builder .vImage {
    margin-bottom: 5px;
    right: 37px;
    position: absolute;
    z-index: 3;
    top: 37px;
    cursor: pointer;
    display: none;
}
#Builder .activeV {
    display: block !important;
}
#Builder .vImageFilm {
    right: 45px;
    position: absolute;
    z-index: 3;
    top: 31px;
    cursor: pointer;
}
/* Range styling*/
#Builder .input-range {
    -webkit-appearance: none;
    width: 100%;
    margin: 0;
    max-width: 240px;
}
#Builder .input-range:focus {
    outline: none;
    border: none;
}
#Builder .input-range::-webkit-slider-runnable-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    background-color: #d8dfe6;
    border-radius: 6px;
}
#Builder .input-range::-webkit-slider-thumb {
    border: 2px solid #7d9aa7;
    background-color: #fff;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6px;
}
#Builder .input-range::-moz-range-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    background-color: #d8dfe6;
    border-radius: 6px;
}
#Builder .input-range::-moz-range-thumb {
    border: 2px solid #7d9aa7;
    background-color: #fff;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6px;
}
#Builder .input-range::-ms-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
    border-width: 12px 0;
}
#Builder .input-range::-ms-fill-lower {
    background: #d8dfe6;
    border: none;
    border-radius: 6px;
}
#Builder .input-range::-ms-fill-upper {
    background: #d8dfe6;
    border: none;
    border-radius: 6px;
}
#Builder .input-range::-ms-thumb {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid #7d9aa7;
    cursor: pointer;
}
#Builder #patterns-schema .Plus {
    left: 0;
    top: 0;
}
/* Frames div */
#Builder .frames-wrapper,
#Publish .frames-wrapper {
    width: 1080px;
    height: 1080px;
    margin: 0 auto;
    zoom: 52%;
    -moz-transform: scale(.52) translateX(-20%);
    -moz-transform-origin: top center;
}
#Builder .frames-wrapper > div,
#Publish .frames-wrapper > div {
    height: 100%;
}
@media only screen and (max-width: 1500px), screen and (max-height: 1000px) {
    #MusicPicker,
    #Builder .frames-wrapper {
        zoom: 62%;
        -moz-transform: scale(.62);
    }
}
@media only screen and (max-width: 1450px), screen and (max-height: 950px) {
    #MusicPicker,
    #Builder .frames-wrapper {
        zoom: 58%;
        -moz-transform: scale(.58);
    }
}
@media only screen and (max-width: 1400px), screen and (max-height: 900px) {
    #MusicPicker,
    #Builder .frames-wrapper {
        zoom: 54%;
        -moz-transform: scale(.54);
    }
}
@media only screen and (max-width: 1300px), screen and (max-height: 800px) {
    #MusicPicker,
    #Builder .frames-wrapper {
        zoom: 45%;
        -moz-transform: scale(.45);
    }
}
@media only screen and (max-height: 740px) {
    #MusicPicker,
    #Builder .frames-wrapper {
        zoom: 40%;
        -moz-transform: scale(.40);
    }
}
@media only screen and (max-height: 650px) {
    #MusicPicker,
    #Builder .frames-wrapper {
        zoom: 20%;
        -moz-transform: scale(.20);
    }
}
@media only screen and (max-width: 1100px), screen and (max-height: 700px) {
    #MusicPicker,
    #Builder .frames-wrapper {
        zoom: 33%;
        -moz-transform: scale(.33);
    }
}
@media only screen and (max-height: 600px) {
    #MusicPicker,
    #Builder .frames-wrapper {
        zoom: 27%;
        -moz-transform: scale(.27);
    }
}