#MiniFrames {
    float: right;
    padding-left: 5px;
    padding-top: 22px;
    display: inline-flex;
    height: 160px;
    overflow-x: scroll;
    overflow-y: hidden;
    width: calc(100% - 145px);
}
#MiniFrames::-webkit-scrollbar {
    background: #FCFCFC;
    height: 9px;
    border-radius: 10px;
}
#MiniFrames::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 0px solid rgba(0, 0, 0, 0);
    -webkit-box-shadow: inset 0 0 40px #6c6c6c;
}
#MiniFrames .mini-wrapper {
    zoom: 9%;
    margin-right: 160px;
    -moz-transform: scale(0.09,0.09);
    -moz-transform-origin: top left;
}
#MiniFrames .frame-box {
    width: 101px;
}
#MiniFrames .frame-num {
    margin-top: 10px;
    text-align:center;
}
#MiniFrames textarea {
    overflow: hidden;
    resize: none;
    padding: 0;
    border-width: 0;
}
#MiniFrames .show-hide-scene {
    width: 250px;
    position: absolute;
    z-index: 10;
    top: -255px;
    right: 0;
    overflow: hidden;
}
#MiniFrames .filmPicChoice {
    cursor: pointer;
    margin-right: 14px;
    position: relative;
}
#MiniFrames .filmPicChoice:after {
    opacity: 0;
}
#MiniFrames .filmPicChoice:hover:after {
    content: '';
    top: 0;
    left: -1px;
    z-index: 5;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background-color: #7edeea;
    opacity: 0.7;
}
#MiniFrames .activeFilmPicChoice:after {
    content: '';
    top: 0;
    left: -1px;
    z-index: 5;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    opacity: 0.7;
    background-color: #799B9D;
}
#MiniFrames .play-tooltip:before {
    left: 4%;
    width: 1085px;
}
#MiniFrames .play-tooltip:after {
    left: 0;
    bottom: 100%;
}
#MiniFrames .play-tooltip .play-scene {
    left: 0;
    width: 180px;
    top: -250px;
}
/* Hide the tooltip content by default */
#MiniFrames [data-tooltip]:before,
#MiniFrames [data-tooltip]:after {
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    pointer-events: none;
    z-index: 10;

}
/* Position tooltip above the element */
#MiniFrames [data-tooltip]:before {
    position: absolute;
    bottom: 70%;
    left: 70%;
    margin-bottom: 5px;
    margin-left: -80px;
    padding: 7px;
    width: 1000px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    border-radius: 80px;
    background-color: #FEFEFE;
    color: #4B7EFD;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 150px;
    line-height: 2;
    height: 345px;
    z-index: 10;
}
/* Triangle hack to make tooltip look like a speech bubble */
#MiniFrames [data-tooltip]:after {
    position: absolute;
    bottom: 101%;
    left: 89%;
    width: 0;
    border-bottom: 70px solid #FEFEFE;
    border-right: 70px solid transparent;
    border-left: 70px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
}
/* Show tooltip content on hover */
#MiniFrames [data-tooltip]:hover:before,
#MiniFrames [data-tooltip]:hover:after {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    z-index: 10;
}