.BG-btn-wrapper {
    text-align: center;
    margin: 45px 23px 30px;
}
.BG-btn-wrapper button {
    font-size: 16px;
    width: 80px;
    height: 35px;
    color: #3480FA !important;
    background-color: white;
    border-color: #3480FA;
    line-height: 0.7;
}
.BG-btn-wrapper button:hover,
.BG-btn-wrapper .active {
    color: #ffffff !important;
    background-color: #3480FA;
}