.stock-count-form {
    width: 35%;
    display: inline-block;
}
.stock-label {
    width: 130px;
}
.daysDuration {
    position: relative;
    top: -15px;
    left: 5px;
}
.variants-box {
    max-height: 585px;
    overflow-x: hidden;
}
#ProductModal .modal-content {
    min-height: 800px;
}
.form-input-icon {
    position: relative;
}
.form-input-icon.form-input-icon-right > i {
    left: auto;
    right: 3px;
    margin: 11px 10px 4px 2px;
    position: absolute;
}
.page-number {
    width: 35px;
    height: 35px;
    line-height: 29px;
    margin-right: 3px;
    cursor: pointer;
    overflow: hidden;
}
.align-center {
    text-align: center;
}
.btn-shopify {
    padding: 11px 22px 11px 22px;
    font-size: 14px;
    margin-bottom: 10px;
    transition: background 0.5s ease;
    color: #fff;
    background: #7ABA57;
    /*width: 100%;*/
    height: 45px;
    max-width: 210px;
}
.btn-shopify:hover,
.btn-shopify:focus,
.btn-shopify:active {
    background: #79B956;
    color: #fff;
}
.btn-shopify .sopify-icon {
    margin-right: 10px;
    font-size: 18px;
    margin-top: 1px;
    float: left;
}
/*
 * ECOMMERCE
 */
.cui-ecommerce--catalog--item {
    padding: 20px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #dfe4ed;
    margin-bottom: 35px;
    position: relative;
    background: #ffffff;
}
.cui-ecommerce--catalog--item--img {
    position: relative;
    text-align: center;
    height: 250px;
}
.cui-ecommerce--catalog--item--img a {
    display: block;
}
.cui-ecommerce--catalog--item--img a img {
    min-height: 250px;
    max-height: 250px;
    max-width: 100%;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.cui-ecommerce--catalog--item--img a:hover img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
     -o-transform: scale(1.1);
    transform: scale(1.1);
}
.cui-ecommerce--catalog--item--title {
    font-size: 16px;
    /*text-transform: uppercase;*/
    font-weight: bold;
    border-top: 1px solid #dfe4ed;
    padding-top: 15px;
    /*padding-right: 100px;*/
    position: relative;
}
.cui-ecommerce--catalog--item--title a {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.cui-ecommerce--catalog--item--descr {
    padding-right: 100px;
    font-style: italic;
    color: #bbb8cb;
}