#TextNav .text-line {
    margin-top: 15px;
    margin-bottom: 25px;
    width: 100%;
    height: 1px;
    background-color: #dfe4ed;
}
#TextNav .ReactFontPicker {
    margin-top: 30px;
}
#TextNav .subMenuTitle {
    width: 86%;
    height: 15px;
    color: #282828;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-left: -1%;
}

#TextNav .AddBgColorBtn{
     width: 100%;
    height: 35px;
    display: inline-block;
    position: relative;
    top: 10px;
    font-size: 21px;
    padding-left: 9px;
    color: rgb(50, 209, 209);
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(50, 209, 209);
    border-image: initial;
    text-align:center;
    border-radius: 5px;



}

#TextNav .Plus {
    width: 35px;
    height: 35px;
    display: inline-block;
    position: relative;
    left: 183px;
    top: -35px;
    font-size: 21px;
    padding-left: 9px;
    color: rgb(50, 209, 209);
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(50, 209, 209);
    border-image: initial;
    border-radius: 5px;
    background: none;
}
#TextNav .colorPickerSection {
    display: inline-block;
}
#TextNav .colorBar {
    margin-top: 25px;
}
#TextNav .colorBox {
    height: 35px;
    width: 35px;
    display: table-cell;
    cursor: pointer;
    border: 2px solid #e6e8eb;
    transition: 0.2s ease-in-out;
}
#TextNav .colorBox:hover {
    transform: scale(1.2);
}
#TextNav .font-line {
    margin-top: 30px;
    margin-bottom: 15px;
}
#TextNav .side-bar-content .radioButton input[type="radio"] {
    display: none;
    cursor: pointer;
}
#TextNav .side-bar-content input[type="radio"]:checked + label {
    border: 1px solid #3573FE;
}