#VideoContentModal .video-option {
    border-radius: 5px;
    border: 1px solid #bababa;
    height: 10%;
    width: 48%;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    margin-right: 0;
    float: left;
}
#VideoContentModal .loading-video {
    text-align: center;
    height: 129px !important;
    padding: 50px;
}
/*Hide download button*/
#VideoContentModal .video-option video::-internal-media-controls-download-button,
#VideoContent .image-upload video::-internal-media-controls-download-button {
    display:none;
}
#VideoContentModal .video-option video::-webkit-media-controls-enclosure,
#VideoContent .image-upload video::-webkit-media-controls-enclosure {
    overflow:hidden;
}
#VideoContentModal .video-option video::-webkit-media-controls-panel,
#VideoContent .image-upload video::-webkit-media-controls-panel {
    width: calc(100% + 30px);
}
/*#VideoContentModal .video-label {*/
    /*height: 10%;*/
/*}*/
#VideoContentModal .btn-default {
    height: 35px;
    margin-bottom: 5px;
}
#VideoContentModal .video-option video {
    height: 276px;
}
#VideoContentModal .video-name {
    width: 40%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 8px;
}
#VideoContentModal .modal-body {
    height: 80vh;
}
#VideoContentModal .modal-body .tab-content {
    overflow-y: scroll;
    height: 73vh;
}
#VideoContentModal .modal-dialog {
    width: 58%;
}
#VideoContentModal .customVideoUploaderLabel {
    cursor:pointer;
    height:100%;
    width:100%;
}
#VideoContentModal .customVideoUploaderLabel > .upload-sign {
    margin-top: 10px;
    width: 100%;
    color:#a1a1a1;
    height: 43px;
    line-height: 42px;
    font-size: 33px;
    text-align: center;
}
#VideoContentModal .customVideoUploaderLabel > .upload-warning {
    display: block;
    color: #353535;
    overflow:hidden;
    font-weight: 200;
    margin-top: 6px;
    width: 80%;
    margin-left: 10%;
    text-align: center;
    height: 42px;
}
#VideoContentModal .customVideoUploaderLabel > .upload-error {
    display: block;
    text-align: center;
    color: #FF0000;
}
#VideoContentModal .customVideoUploaderLabel > .upload-title{
    width: 100%;
    height: 28px;
    color: #353535;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    display: block;
}