html {
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}
.margin-right-300 {
    margin-right: 300px;
}
.margin-top-5 {
    margin-top: 5px;
}
.margin-top-0 {
    margin-top: 0 !important;
}
.margin-top-20 {
    margin-top: 20px !important;
}
.margin-bottom-25 {
    margin-bottom: 25px;
}
.margin-top-15 {
    margin-top: 15px;
}
.margin-left-5 {
    margin-left: 5px;
}
.margin-left-10 {
    margin-left: 10px;
}
.margin-left-30 {
    margin-left: 30px;
}
.margin-top-25 {
    margin-top: 25px;
}
.margin-top-75 {
    margin-top: 75px;
}
.margin-bottom-10 {
    margin-bottom: 10px;
}
.margin-right-5 {
    margin-right: 5px !important;
}
.margin-right-15 {
    margin-right: 15px;
}
.margin-right-30 {
    margin-right: 15px;
}
.margin-top-3 {
    margin-top: 3px;
}
.margin-top-25 {
    margin-top: 25px;
}
.margin-bottom-50 {
    margin-bottom: 50px;
}
.custom-color-red {
    color: #FC8892;
}
.margin-bottom-0 {
    margin-bottom: 0;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.margin-bottom-5 {
    margin-bottom: 5px;
}
.margin-bottom-10 {
    margin-bottom: 10px;
}
.margin-top-10 {
    margin-top: 10px;
}
.height-40 {
    height: 40px;
}
.inline-block {
    display: inline-block;
}
.autoFit {
    opacity: 0;
}