<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<style>

    body{

    }
    .campaign_created{
        background-color: rgba(27,255,27,.2);
    }

    div[class$='error']{
        background:rgba(251,30,30,.2);
    }

     div[class$='create']{

     }

     *[data-toggle="popover"]{
         background:transparent;
         border:none;
         outline:none;
     }

    .popover{
        max-height:80vh;
        max-width:100vw;
        overflow: auto;
    }
</style>
<body>


<div class="container"}>
{% if users %}
    <table class="table table-hover" id="table" >
        <thead>
            <tr>
                <th>Username</th>
                <th>User Campaigns</th>
                <th>Create Date</th>
                <th>Status</th>
                <th>Token Status</th>
                <th>Trial left</th>
                <th>Paying</th>
                <th>Active ads count</th>
            </tr>
        </thead>

        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>
                    {% if user.campaigns %}
                        {% for campaign in user.campaigns %}
                    <div class='{{ campaign.status }}'}>
                            <button
                               data-toggle="popover"
                               data-trigger="popover"
                               data-placement="bottom"
                               data-html="true"
                               title="<div><b>Status: {{ campaign.status }}</b></div> <div><b>Created: {{ campaign.create_date | date:'D d M Y' }}</b></div>"
                               data-content="
                               {% if campaign.ads %}
                                   <table class='table'>
                                                     <thead>
                                                        <tr>
                                                            <th>ID</th>
                                                            <th>Hour</th>
                                                            <th>Status</th>
                                                            <th>Type</th>
                                                        </tr>
                                                     </thead>
                                                     <tbody>
                                                        {% for ad in campaign.ads %}
                                                            <tr>
                                                                <td>{{ ad.id }}</td>
                                                                <td>{{ ad.hour }}</td>
                                                                <td>{{ ad.status }}</td>
                                                                <td>{{ ad.ad_type }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                     </tbody>
                                                </table>
                               {% else %}
                                    No Ads
                               {% endif %}

"
                            >
                                {{ campaign.campaign_id}} ( {{campaign.active_ads }} active)
                            </button>
                    </div>
                        {% endfor %}
                    {% else %}
                        No campaigns
                    {% endif %}
                </td>

                <td>{{ user.create_date | date:"D d M Y" }}</td>
                <td>
                    {% if user.pending_campaign %}
                        Pending campaign.
                    {% else %}
                        No pedning campaign
                    {% endif %}
                </td>

                <td>
                    {% if user.facebook_token %}
                        <span class="glyphicon glyphicon-ok"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-remove"></span>
                    {% endif %}
                </td>

                <td>
                    {{ user.trial_left }}
                </td>

                <td>
                    TODO
                </td>

                <td>
                    {{ user.active_ads }}
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/admin?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="/admin?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
    </div>
{% else %}
    <h3>My Cars</h3>
    <p>No cars found!!! :(</p>
{% endif %}


<script>

$(document).ready(function(){
    $('#table').dataTable({
        'paging':false
    });

    $('[data-toggle="popover"]').popover();

});
</script>
</body>
</html>