#paymentModal .modal-dialog {
    width: 956px;
    font-size: 17px;
}
#paymentModal .modal-content {
    padding-left: 55px;
    padding-right: 65px;
    height: 625px;
}
#paymentModal .nav-stacked > li > a {
    border: 1px solid #CFCFCF;
    padding: 0 15px;
    color: black;
}
#paymentModal .nav-stacked > li.active > a {
    border: 1px solid #0073FA;
}
#paymentModal .nav-stacked > li,
#paymentModal .nav-stacked > li > a {
    min-height: 110px;
    margin-top: 25px;
}
#paymentModal .planIncludes {
    list-style-type: disc;
    margin-bottom: 15px;
}
#paymentModal .priceDesc > span {
    display: inline-block;
}
#paymentModal .priceDesc {
    color: #FFFFFF;
    min-height: 108px;
    text-align: center;
    padding-top: 4%;
}
#paymentModal .Agency .priceDesc {
    min-height: 207px;
    padding-top: 12%;
}
#paymentModal .nav > li > a:focus,
#paymentModal .nav > li > a:hover {
    background-color: transparent;
}
#paymentModal .planIncludes > li:first-child {
    margin-right: 35px;
}
#paymentModal .planIncludes > li {
    float: left;
}
#paymentModal .modal-header .close {
    position: relative;
    left: 55px;
}
#paymentModal .Agency .planIncludes > li {
    float: none;
}
#paymentModal .regular-price {
    text-decoration: line-through;
}
#paymentModal .planContent {
    height: 475px;
    background-color: #F1F3F5;
    margin-top: 25px;
    padding-top: 50px;
    padding-left: 35px;
}
#paymentModal .planContent > span {
    clear: both;
}
.plan-circle {
    margin-top: 6px;
    float: left;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid #C8C8C8;
    width: 15px;
    height: 15px;
}
.circle-active {
    border: 1px solid #0073FA;
}
.active-circle {
    border-radius: 50%;
    width: 9px;
    height: 9px;
    background-color: #0073FA;
    top: 2px;
    left: 2px;
    position: relative;
}
#paymentModal .plan-name {
    font-weight: bold;
    font-size: 20px;
    color: black;
}
.planGroup {
    text-align: center;
    font-size: 20px;
    position: relative;
    top: 70px;
}
.planGroup .btn {
    margin-top: 10px;
    border-color: #427DFE;
    background-color: #427DFE;
    border-radius: 30px;
    color: #ffffff;
}
#paymentModal .planDesc {
    margin-bottom: 15px;
    margin-top: 5px;
}
#paymentModal .discount {
    border: 1px dashed #C8C8C8;
}
#paymentModal .cont-plan-name {
    color: #0073FA;
    font-weight: bold;
}
#paymentModal .pay-btn {
    display: inline-block;
    font-family: inherit;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    background: #3573FE;
    border: 0;
    cursor: pointer;
    outline: none;
    width: 190px;
    height: 45px;
    border-radius: 5px;
    margin: 5px 5px 8px 5px;
    background-repeat: no-repeat;
    background-position: 35px;
}
#paymentModal .cc-btn:hover {
    background: #000000;
}
#paymentModal .cc-btn > i {
    font-size: 20px !important;
    vertical-align: middle;
    margin-right: 20px;
}
#paymentModal .paypal-btn .submit-btn {
    width: 100%;
    height: 100%;
    background: none;
    border: 0;
}
#paymentModal .paypal-btn {
    background-image: url("https://video-maker.topvid.com/static/assets/img/icons/icon-paypal.png");
}
#paymentModal .paypal-btn:hover {
    background: #000000 url("https://video-maker.topvid.com/static/assets/img/icons/icon-paypal.png") no-repeat 35px;
}
#ccPayment .modal-body {
    height: 455px;
}