#sidebar-menu .left-menu-head {
    text-align: center;
    height: 220px;
}
#sidebar-menu nav.left-menu {
    border: 0;
    background-color: #FAFAFA;
    color: black;
}
#sidebar-menu div.line-separator-menu {
    height: 1px;
    background-color: #e0e4ed;
    width: 80%;
    margin: auto;
}
#sidebar-menu nav.left-menu .logo {
    display: block;
}
#sidebar-menu .mode-box-shadow nav.left-menu {
    -webkit-box-shadow: 0 0 50px rgba(36, 34, 47, 0.3);
    box-shadow: 0 0 50px rgba(36, 34, 47, 0.3);
}
#sidebar-menu nav.left-menu {
    z-index: 1;
}
#sidebar-menu nav.left-menu {
    box-shadow: 12px 0 4px -10px rgba(136, 136, 136, 0.18);
    position: fixed;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    width: 220px;
    background-color: #FAFAFA;
    outline: none;
    border-right: 1px solid #dfe4ed;
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    transition: -webkit-transform 0.2s ease-in-out;
    -o-transition: -o-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out, -o-transform 0.2s ease-in-out;
}
#sidebar-menu nav.left-menu .left-menu-inner {
    margin-top: 40px;
    overflow: hidden;
    padding: 0;
    width: 193px;
    margin-left: 15px;
    position: absolute;
    top: 220px;
    left: 0;
    right: 0;
    height: 644px;
    bottom: 0;
    outline: none !important;
}
#sidebar-menu nav.left-menu .left-menu-list-root {
    margin: 15px 0;
}
#sidebar-menu .list-unstyled {
    padding-left: 0;
    list-style: none;
}
#sidebar-menu nav.left-menu .left-menu-list li {
    display: block;
    margin-bottom: 15px;
}
#sidebar-menu nav.left-menu .left-menu-list li .left-menu-link,
#sidebar-menu nav.left-menu .left-menu-list li.left-menu-list-opened > .left-menu-link,
#sidebar-menu nav.left-menu .left-menu-list li .left-menu-item {
    color: #000000;
}
#sidebar-menu nav.left-menu .left-menu-list li .left-menu-link {
    text-decoration: none !important;
    border-radius: 5px;
    display: block;
    padding: 10px 25px;
    font-weight: 600;
    outline: none;
    color: #000000;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
#sidebar-menu nav.left-menu .left-menu-list li .left-menu-link:hover,
#sidebar-menu .active-left-menu {
    background: #000000;
    color: white !important;
}
#sidebar-menu a {
    color: white;
    -webkit-transition: all 0.05s ease-in-out;
    -o-transition: all 0.05s ease-in-out;
    transition: all 0.05s ease-in-out;
}
#sidebar-menu nav.left-menu .left-menu-list li .left-menu-link .left-menu-link-icon {
    color: #6D50E4;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    display: inline-block;
    width: 22px;
    font-size: 1rem;
    margin-right: 5px;
}
#sidebar-menu .fa {
    font-size: 22px !important;
    vertical-align: middle;
}
#sidebar-menu .TopVidLogo {
    margin-bottom: 60px;
    margin-top: 15px;
}
@media (max-width: 768px) {
    #sidebar-menu {
        display: none;
    }
    #MyCampaigns {
        margin-left: 40px !important;
    }
    #top-menu, #onBoardMenu, #Template {
        margin-left: 0 !important;
    }
}