<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Countdown Ads</title>
    <meta name="theme-color" content="#000000">
    <!--Favicon-->
    <link rel="shortcut icon" type="image/x-icon" href="//countdown.topvid.com/static/assets/img/favicon.png">
    <!--Rollbar-->
    <script type="text/javascript" src="//countdown.topvid.com/static/assets/js/rollbar.js"></script>
    <!--Initial google tag manager variables-->
    <script type="text/javascript">
        var user_json = JSON.parse('{{ user_json | escapejs }}'),
            logged_in_user_name = user_json['name'],
            logged_in_user_email = user_json['email'],
            logged_in_user_shopify = user_json['myshopify_domain'],
            logged_in_user_source_registration = user_json['register_source'];
    </script>
    <script type="text/javascript" src="//video-maker.topvid.com/static/assets/js/video-maker/google_tag_manager.js"></script>
    <!--Initial js file-->
    <script type="text/javascript" src="//countdown.topvid.com/static/assets/js/common.js"></script>
    <!--Google fonts-->
    <link href="//fonts.googleapis.com/css?family=Abril+Fatface|Alfa+Slab+One|Arvo|Fira+Sans|Lato|Lobster|Merriweather:300,900|Montserrat|Oswald|Playfair+Display|Raleway|Roboto" rel="stylesheet">
    <!--Font Awesome  4.7.0 icons-->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap css 3.3.7-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- JQuery 3.2.1 -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Bootstrap JavaScript 3.3.7 -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Facebook connect SDK -->
    <script src="//connect.facebook.net/en_US/sdk.js"></script>
    <!-- Image Aviary Feather editor version 3 -->
    <script type="text/javascript" src="//dme0ih8comzn4.cloudfront.net/imaging/v3/editor.js"></script>
</head>
<body class="theme-default menu-static colorful-enabled mode-box-shadow">
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PNLW7PN" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <div id="root" class="boxed-container"></div>
</body>
</html>
