#dateTimeZone .timeZoneSelect {
    margin-top: 20px;
    height: 40px;
    max-width: 365px;
}
#dateTimeZone .react-datepicker__input-container > input {
    height: 40px;
    width: 205px;
    padding-left:7px;
    cursor:pointer;
    text-align: left;
}
#dateTimeZone .react-datepicker__time-list {
    padding: 0;
}


.react-datepicker {
  font-size: 1em;
}

.react-datepicker__input-container .datepicker-input{
    background:white;
    outline:none;
    border:1px solid #ccc;
    border-radius:4px;
    height:36px;
}


.react-datepicker__header {
  padding-top: 0.8em;
}
.react-datepicker__month {
  margin: 0.4em 1em;
}
.react-datepicker__day-name, .react-datepicker__day {
  width: 1.9em;
  line-height: 1.9em;
  margin: 0.166em;
}
.react-datepicker__current-month {
  font-size: 1em;
}
.react-datepicker__navigation {
  top: 1em;
  line-height: 1.7em;
  border: 0.45em solid transparent;
}
.react-datepicker__navigation--previous {
  border-right-color: #ccc;
  left: 1em;
}
.react-datepicker__navigation--next {
  border-left-color: #ccc;
  right: 1em;
}

.react-datepicker__day--outside-month{
    cursor: default;
    color: #ccc;
}

.react-datepicker__day--outside-month:hover{
    background:none !important;
}